@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

/* -----------------Navigation bar-Header ----------------- */
nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li a{
    padding: 0 12px;
    text-decoration: none;
    color:white;
}
nav ul li a:hover{
    color:red;
    transition: red 1s ease-in-out infinite alternate;
  }
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

/*-----------------Album page code ----------------- */
#card{
    display:flex;
    flex-direction:row;
    height:fit-content;
    width:fit-content;
    background-color:transparent;
    margin:2% 3%;
    align-items: space-around;
    /* justify-content:center; */
  }
  .inner-card{
    border-radius:10px;
    background-color:white;
    width:fit-content;
    height:100%;
    box-shadow:5px 10px 10px 10px grey;
    margin:1% 2%;
  }
  .bg-img-top{
    border-radius:10px;
  }
  .artist-name{
   text-transform:uppercase;
   text-decoration:underline;
   padding-left:1%;
  }
  .title{
    font-size:15px;
    text-transform:uppercase;
    padding-left:1%
  }
  .album-name{
    text-transform:uppercase;
    color:dodgerblue;
    font-size:20px;
    font-weight:bold;
    
  }
  .album-name:hover{
    color:red;
  }
 
  @keyframes change_color{
    0%{
      color:black;
      text-shadow:5px 5px 5px white;
    }
    25%{
      color: red;
      text-shadow:5px 5px 5px yellow;
    }
    50%{
      color:green;
      text-shadow:5px 5px 5px orange;
    }
    100%{
      color:dodgerblue;
      text-shadow:5px 5px 5px pink;
    }
  }
  #heading{
    font-size:40px;
    text-align:center;
    text-transform:capitalize;
    animation:change_color 1s ease-in-out infinite alternate;
    /* animation:zoom-in-zoom-out 1s ease-in-out infinite alternate; */
  }
  
  /* --------------Album Section: Social Section---------------- */
  
  #social {
    position: fixed;
    top: 20%;
    left: 0;
    line-height: 1;
    background-color:transparent;
  }
  
  #social .social-btn {
    display: block;
    padding: 14px 13px;
    color: black;
    border-bottom:1px solid transparent;
  }
  #social .social-icon{
    font-size:1.2rem;
  }
  
  @keyframes big{
     0%{
       font-size:1.2rem;
     }
     50%{
       font-size:1.4rem;
     }
     100%{
       font-size:1.6rem;
     }
  }
  .social-icon:hover{
    animation:big 1s ease-in-out infinite alternate;
  }
  #social .social-btn:hover{
    border-bottom:1px solid rgb(136, 127, 127);
    transition:1s ease-in-out;
  }
  .social-btn .fa-brands.fa-facebook-square:hover{
    color:rgb(6, 108, 167);
    transition:1s ease-in-out;
  }
  .social-btn .fa-brands.fa-linkedin:hover{
    color:rgb(4, 255, 242);
    transition:1s ease-in-out;
  }
  .social-btn .fa-brands.fa-twitter-square:hover{
    color:rgb(1, 114, 148);
    transition:1s ease-in-out;
  }
  .social-btn .fa-solid.fa-envelope:hover{
    color:rgb(253, 5, 5);
    transition:1s ease-in-out;
  }
  .social-btn .fa-brands.fa-whatsapp-square:hover{
    color:rgb(5, 97, 5);
    transition:1s ease-in-out;
  }


  /* -------------------Index page- Main page code---------------- */
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }